
<!DOCTYPE>
<html>
<head>
</head>
<body>
<div class = "header">
<%= render  partial: 'layouts/header' %>
</div>
<div class = "show">
  <table cellpadding = "5">
    <tr>
<td colspan = "2"><b>Product Information:</b></td>
</tr>
<td>
  <b>Id:</b></td><td>
  <%= @product.id %></td>
</tr>
<td>
  <b>Name:</b></td><td>
  <%= @product.name %>
</td></tr>
<tr><td>
  <b>Price:</b></td><td>
  <%= @product.price %>
</td></tr>
<tr><td>
  <b>Category:</b></td><td>
  <%= @product.category %>
</td></tr>

<tr>
<td>
 <div class = "button" align = "center"> <%= link_to 'Edit', edit_product_path(@product) %></div> 
</td><td>
<div class = "button"><%= link_to 'Back', products_path %> </div></td>
</tr>
</table>
</div>

<br><br><br><br><br>
 <div class = "footer">
<%= render partial: 'layouts/footer' %>
</div>
<%= render partial: 'layouts/script' %>